.page {
  font-family: 'PT sans', 'Arial', sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
  color: #0c1014;
  background-color: #fff;
}
.header {
  max-width: 1280px;
}
.page__header {
  margin: 0 auto;
}
.header__title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.21;
  margin: 25px 0 25px 0;
}
.content {
  max-width: 1280px;
  display: flex;
  justify-content: center;
}
.page__content {
  margin: 0 auto;
}
.content__button {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;
  background-color: #e5266e;
  color: #fff;
  border-radius: 4px;
  min-width: 250px;
  min-height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.footer {
  max-width: 1280px;
}
.page__footer {
  margin: 0 auto;
}
.footer__copyright {
  margin: 25px auto 25px 40px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.42);
}
.popup_opened {
  transition: opacity 0.5s ease-in;
  display: flex;
  opacity: 1;
  visibility: visible;
}
.popup__container {
  display: flex;
  align-self: center;
  margin: 0 auto;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 754px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 53px 98px 53px 98px;
  /* gap: 32px; */
}
.popup__form-title {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.21;
  margin: 0 auto calc(35px - 32px) 0;
}
.popup__logo-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  width: 100%;
}
.popup__logo-header {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  color: #6a6e72;
  margin: 0;
}
.popup__logo-item {
  position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.popup__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./images/profile_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 175px;
  width: 100%;
  min-height: 175px;
  border-radius: 50%;
  z-index: 0;
  margin-top: 12.83px;
}
.popup__logo-container::before{
  content: '';
  position: absolute;
  background-color: rgba(0, 0 ,0 , 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
}
.popup__logo-cancel {
  position: absolute;
  top: 9.33px;
  right: 2.33px;
  background-image: url(./images/close_icon.svg);
  background-size: 15.47px 15.47px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  width: 36.17px;
  height: 36.17px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}
.popup__dragndrop {
  width: 29.17px;
  height: 29.17px;
  object-fit: cover;
}
.popup__logo-span {
  color: #fff;
  font-weight: 400;
  font-size: 18.66px;
  line-height: 1.5;
  text-decoration: underline;
  max-width: 80.5px;
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
}
.popup__form-field {
  border: 1px solid #d6dade;
  border-radius: 2px;
  box-sizing: border-box;
  min-width: 362px;
  max-width: 558px;
  width: 100%;
  height: 56px;
  padding: 8px 16px 8px 16px;
}
.popup__form-field_no_header {
  display: flex;
  padding: 16px 16px 16px 16px;
}
.popup__form-header {
  display: flex;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #6a6e72;
}
.popup__form-star {
  align-self: flex-end;
  color: #d90000;
  font-size: 30px;
  font-weight: 700;
  line-height: 0;
  margin: 0 2px 1.33px 0;
}
.popup__form-star_place_logo {
  margin: 0 2px 6px 0;
}
.popup__form-item {
  font-size: 16px;
  color: #0c1014;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  border: 0;
  width: 100%;
}
.popup__form-item:focus {
  outline: none;
}
.popup__form-item_custom_cursor::-webkit-calendar-picker-indicator {
  display: none !important;
}
.popup__form-item_custom_cursor {
  background-image: url(./images/list_icon.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 11.25px 6.51px;
}
.popup__form-img {
  width: 19px;
  height: 19px;
}
.popup__submit-btn {
  color: #fff;
  background-color: #e5266e;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;
  border-radius: 4px;
  border: 0;
  text-align: center;
  height: 48px;
  cursor: pointer;
  padding: 0;
}
.popup__cancel-btn {
  border: 0;
  max-width: 67px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #0848c0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0 auto;
}
.button:hover {
  opacity: 0.8;
  transition: opacity 100ms linear;
}
