.page {
  font-family: 'PT sans', 'Arial', sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
  color: #0c1014;
  background-color: #fff;
}
@media screen and (max-width: 1300px) {
    .page {
          min-width: 1024px;
        }
}
@media screen and (max-width: 1050px) {
    .page {
          min-width: 768px;
        }
}
@media screen and (max-width: 790px) {
    .page {
          min-width: 512px;
        }
}
@media screen and (max-width: 530px) {
    .page {
          min-width: 320px;
        }
}